# Global configuration for the application
global: 
  domain: example.io # Domain for the application

# General configuration
name: vs-agent
replicas: 1 # Number of replicas for the VS Agent service

# Ports
adminPort: 3000 # adminPort is the port for the Agent Admin API
didcommPort: 3001 # Port for DIDComm

# Agent configuration
didcommLabel: "VS Agent"
eventsBaseUrl: "https://events.{{ .Values.global.domain }}"
didcommInvitationImageUrl: "https://image.{{ .Values.global.domain }}/invitation.png"
# enableSwagger: true # Enable Swagger documentation for the VS Agent service (its recommended only for development environments)
publicDidMethod: "webvh"
resources:
  requests:
    cpu: 100m
    memory: 256Mi
  limits:
    cpu: 500m
    memory: 512Mi

# DB and Redis configuration
database:
  enabled: false
  user: unicid
  pwd: mypassword123
  resources:
    requests:
      cpu: 100m
      memory: 256Mi
    limits:
      cpu: 500m
      memory: 512Mi

redis: 
  enabled: false
  resources:
    requests:
      cpu: 25m
      memory: 64Mi
    limits:
      cpu: 100m
      memory: 128Mi

# Enable cors for the VS Agent
ingress:
  host: "{{ .Values.name }}.{{ .Values.global.domain }}"
  tlsSecret: public.{{ .Values.name }}.{{ .Values.global.domain }}-cert
  public:
    enableCors: true
  private:
    enableCors: true
    whitelistSourceRange: "" # e.g. "xxx.xx.xxx.xxx/32"
    tlsSecret: "private.{{ .Values.name }}.{{ .Values.global.domain }}-cert"
    host: ""

# Extra environment variables (extensible)
extraEnv: []

# Persistent volume configuration for app
storage:
  size: 1Gi
  storageClassName: csi-cinder-high-speed
