name: Continuous Deployment

on:
  push:
    branches: [main, 'release/**', 'fix/testing-cd']

permissions:
  id-token: write   # Required for OIDC
  contents: write   # Required for updating npm versions
  issues: write
  pull-requests: write

jobs:

  docker:
    runs-on: ubuntu-latest

    # Define a matrix for building multiple services
    strategy:
      matrix:
        service:
          - id: agent
            context: .
            file: ./apps/vs-agent/Dockerfile
            image_name: vs-agent
          - id: chatbot
            context: .
            file: ./examples/chatbot/Dockerfile
            image_name: demo-chatbot-backend

    env:
      RELEASE_TYPE: dev
      RELEASE_VERSION: dev

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Compute tags
        run: |
          if [ "$RELEASE_TYPE" = "stable" ]; then
            echo "IMAGE_TAG=latest" >> $GITHUB_ENV
            echo "SUFFIX=" >> $GITHUB_ENV
          else
            echo "IMAGE_TAG=dev" >> $GITHUB_ENV
            echo "SUFFIX=-dev" >> $GITHUB_ENV
          fi

      - name: Docker login
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_HUB_LOGIN }}
          password: ${{ secrets.DOCKER_HUB_PWD }}

      # With only one service, we could avoid using a matrix
      - name: Build & push ${{ matrix.service.id }} dev tags
        if: env.RELEASE_TYPE == 'dev'
        uses: docker/build-push-action@v5
        with:
          context: ${{ matrix.service.context }}
          file: ${{ matrix.service.file }}
          push: true
          tags: |
            ${{ secrets.DOCKER_HUB_LOGIN }}/${{ matrix.service.image_name }}:${IMAGE_TAG}




