name: Continuous Deployment

on:
  push:
    branches: [main, 'release/**']

permissions:
  id-token: write   # Required for OIDC
  contents: write   # Required for updating npm versions

env:
  IMAGE_NAME: 'vs-agent'      
  DEMO_CHATBOT_IMAGE_NAME: 'demo-chatbot-backend'

jobs:
  resolve-version:
    uses: 2060-io/organization/.github/workflows/resolve-version-call.yml@main

  docker:
    needs: resolve-version
    if: needs.resolve-version.outputs.new-release-published == 'true'
    runs-on: ubuntu-latest
    env:
      RELEASE_TYPE: ${{ needs.resolve-version.outputs.release-type }}
      RELEASE_VERSION: ${{ needs.resolve-version.outputs.release-version }}
      RELEASE_MAJOR: ${{ needs.resolve-version.outputs.release-major }}
      RELEASE_MINOR: ${{ needs.resolve-version.outputs.release-minor }}
      RELEASE_PATCH: ${{ needs.resolve-version.outputs.release-patch }}

    steps:
      - name: Checkout vs-agent
        uses: actions/checkout@v4
      
      - name: Set IMAGE_TAG based on release type
        run: |
          if [ "$RELEASE_TYPE" = "stable" ]; then
            echo "IMAGE_TAG=latest" >> $GITHUB_ENV
            echo "SUFFIX=" >> $GITHUB_ENV
          else
            echo "IMAGE_TAG=dev" >> $GITHUB_ENV
            echo "SUFFIX=-dev" >> $GITHUB_ENV
          fi

      - name: Docker login
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_HUB_LOGIN }}
          password: ${{ secrets.DOCKER_HUB_PWD }}
      
      - name: Build & push Docker image (VS Agent)
        uses: docker/build-push-action@v5
        with:
          context: .
          file: ./app/vs-agent/Dockerfile
          push: true
          tags: |
            ${{ secrets.DOCKER_HUB_LOGIN }}/${IMAGE_NAME}:${IMAGE_TAG}
            ${{ secrets.DOCKER_HUB_LOGIN }}/${IMAGE_NAME}:v${RELEASE_MAJOR}${SUFFIX}
            ${{ secrets.DOCKER_HUB_LOGIN }}/${IMAGE_NAME}:v${RELEASE_MAJOR}.${RELEASE_MINOR}${SUFFIX}
            ${{ secrets.DOCKER_HUB_LOGIN }}/${IMAGE_NAME}:v${RELEASE_MAJOR}.${RELEASE_MINOR}.${RELEASE_PATCH:0:1}${SUFFIX}
            ${{ secrets.DOCKER_HUB_LOGIN }}/${IMAGE_NAME}:${RELEASE_VERSION}
      
      - name: Build & push Docker image (Chatbot Demo)
        uses: docker/build-push-action@v5
        with:
          context: .
          file: ./examples/chatbot/Dockerfile
          push: true
          tags: |
            ${{ secrets.DOCKER_HUB_LOGIN }}/${DEMO_CHATBOT_IMAGE_NAME}:${IMAGE_TAG}
            ${{ secrets.DOCKER_HUB_LOGIN }}/${DEMO_CHATBOT_IMAGE_NAME}:v${RELEASE_MAJOR}${SUFFIX}
            ${{ secrets.DOCKER_HUB_LOGIN }}/${DEMO_CHATBOT_IMAGE_NAME}:v${RELEASE_MAJOR}.${RELEASE_MINOR}${SUFFIX}
            ${{ secrets.DOCKER_HUB_LOGIN }}/${DEMO_CHATBOT_IMAGE_NAME}:v${RELEASE_MAJOR}.${RELEASE_MINOR}.${RELEASE_PATCH:0:1}${SUFFIX}
            ${{ secrets.DOCKER_HUB_LOGIN }}/${DEMO_CHATBOT_IMAGE_NAME}:${RELEASE_VERSION}


  helm:
    needs: [resolve-version, docker]
    if: needs.resolve-version.outputs.new-release-published == 'true'
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Run publish-helm action
        id: publish-helm
        uses: 2060-io/devops/actions/publish-helm@main
        with:
          dh-username: ${{ secrets.DOCKER_HUB_LOGIN }}
          dh-token: ${{ secrets.DOCKER_HUB_PWD }}
          release-version: ${{ needs.resolve-version.outputs.release-version }}
          dependent-charts: "./charts/chatbot"

  npm-publish:
    needs: [resolve-version, docker, helm]
    if: needs.resolve-version.outputs.new-release-published == 'true'
    runs-on: ubuntu-latest
    env:
      RELEASE_VERSION: ${{ needs.resolve-version.outputs.release-version }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      # Pnpm version has been pinned in package.json
      - name: Setup node v22
        uses: actions/setup-node@v4
        with:
          node-version: 22
          registry-url: 'https://registry.npmjs.org'

      - name: Corepack pnpm
        run: |
          corepack enable
          
      - name: Install dependencies
        run: |
          pnpm install
          pnpm build

      - name: Set version for apps and packages
        run: |
          pnpm -r --topological version "$RELEASE_VERSION"

      # --no-git-checks is used due to topological version updating.
      - name: Publish NPM packages
        run: |
          pnpm -r publish --no-git-checks --access public


