name: Continuous Deployment

on:
  push:
    branches: [main, 'release/**']

permissions:
  id-token: write   # Required for OIDC
  contents: write   # Required for updating npm versions

env:
  IMAGE_NAME: 'vs-agent'      
  DEMO_CHATBOT_IMAGE_NAME: 'demo-chatbot-backend'

jobs:
  resolve-version:
    uses: 2060-io/organization/.github/workflows/resolve-version-call.yml@main

  docker:
    needs: resolve-version
    if: needs.resolve-version.outputs.new-release-published == 'true'
    runs-on: ubuntu-latest

    # Define a matrix for building multiple services
    strategy:
      matrix:
        service:
          - id: agent
            context: .
            file: ./app/vs-agent/Dockerfile
            image_name: ${{ secrets.DOCKER_HUB_LOGIN }}/${{ env.IMAGE_NAME }}
          - id: chatbot
            context: .
            file: ./examples/chatbot/Dockerfile
            image_name: ${{ secrets.DOCKER_HUB_LOGIN }}/${{ env.DEMO_CHATBOT_IMAGE_NAME }}

    env:
      RELEASE_TYPE: ${{ needs.resolve-version.outputs.release-type }}
      RELEASE_VERSION: ${{ needs.resolve-version.outputs.release-version }}
      RELEASE_MAJOR: ${{ needs.resolve-version.outputs.release-major }}
      RELEASE_MINOR: ${{ needs.resolve-version.outputs.release-minor }}
      RELEASE_PATCH: ${{ needs.resolve-version.outputs.release-patch }}

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Compute tags
        run: |
          if [ "$RELEASE_TYPE" = "stable" ]; then
            echo "IMAGE_TAG=latest" >> $GITHUB_ENV
            echo "SUFFIX=" >> $GITHUB_ENV
          else
            echo "IMAGE_TAG=dev" >> $GITHUB_ENV
            echo "SUFFIX=-dev" >> $GITHUB_ENV
          fi

      - name: Docker login
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_HUB_LOGIN }}
          password: ${{ secrets.DOCKER_HUB_PWD }}

      # With only one service, we could avoid using a matrix
      - name: Build & push ${{ matrix.service.id }}
        uses: docker/build-push-action@v5
        with:
          context: ${{ matrix.service.context }}
          file: ${{ matrix.service.file }}
          push: true
          tags: |
            ${{ matrix.service.image_name }}:${IMAGE_TAG}
            ${{ matrix.service.image_name }}:v${RELEASE_MAJOR}${SUFFIX}
            ${{ matrix.service.image_name }}:v${RELEASE_MAJOR}.${RELEASE_MINOR}${SUFFIX}
            ${{ matrix.service.image_name }}:v${RELEASE_MAJOR}.${RELEASE_MINOR}.${RELEASE_PATCH}${SUFFIX}
            ${{ matrix.service.image_name }}:${RELEASE_VERSION}

  helm:
    needs: [resolve-version, docker]
    if: needs.resolve-version.outputs.new-release-published == 'true'
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Run publish-helm action
        id: publish-helm
        uses: 2060-io/devops/actions/publish-helm@main
        with:
          dh-username: ${{ secrets.DOCKER_HUB_LOGIN }}
          dh-token: ${{ secrets.DOCKER_HUB_PWD }}
          release-version: ${{ needs.resolve-version.outputs.release-version }}
          dependent-charts: "./charts/chatbot"

  npm-publish:
    needs: [resolve-version, docker, helm]
    if: needs.resolve-version.outputs.new-release-published == 'true'
    runs-on: ubuntu-latest
    env:
      RELEASE_VERSION: ${{ needs.resolve-version.outputs.release-version }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      # Pnpm version has been pinned in package.json
      - name: Setup node v22
        uses: actions/setup-node@v4
        with:
          node-version: 22
          registry-url: 'https://registry.npmjs.org'

      - name: Corepack pnpm
        run: |
          corepack enable
          
      - name: Install dependencies
        run: |
          pnpm install
          pnpm build

      - name: Set version for apps and packages
        run: |
          pnpm -r --topological version "$RELEASE_VERSION"

      # --no-git-checks is used due to topological version updating.
      - name: Publish NPM packages
        run: |
          pnpm -r publish --no-git-checks --access public


