name: Continuous Deployment

on:
  push:
    branches: [main, 'release/**']

permissions:
  id-token: write   # Required for OIDC
  contents: write   # Required for updating npm versions

env:
  DH_USERNAME: ${{secrets.DOCKER_HUB_LOGIN}}
  DH_TOKEN: ${{secrets.DOCKER_HUB_PWD}}
  IMAGE_NAME: 'vs-agent'      
  DEMO_CHATBOT_IMAGE_NAME: 'demo-chatbot-backend'

jobs:
  resolve-version:
    uses: 2060-io/organization/.github/workflows/resolve-version-call.yml@main

  docker:
    needs: resolve-version
    if: needs.resolve-version.outputs.new-release-published == 'true'
    runs-on: ubuntu-latest
    env:
      IMAGE_TAG: ${{ needs.resolve-version.outputs.release-type }}
      RELEASE_VERSION: ${{ needs.resolve-version.outputs.release-version }}
      RELEASE_MAJOR: ${{ needs.resolve-version.outputs.release-major }}
      RELEASE_MINOR: ${{ needs.resolve-version.outputs.release-minor }}
      RELEASE_PATCH: ${{ needs.resolve-version.outputs.release-patch }}

    steps:
      - name: Checkout vs-agent
        uses: actions/checkout@v4

      - name: Log in to Docker Hub
        run: |
          echo "$DH_TOKEN" | docker login -u "$DH_USERNAME" --password-stdin

      - name: Build Docker image
        run: |
          docker build -f ./apps/vs-agent/Dockerfile -t $DH_USERNAME/$IMAGE_NAME:$IMAGE_TAG .
 
      - name: Add tags to Docker image and push to Docker Hub
        run: |
          if [ "$IMAGE_TAG" = "latest" ]; then
            TAGS=("${RELEASE_VERSION}")
          else
            TAGS=(
              "v${RELEASE_MAJOR}-${IMAGE_TAG}"
              "v${RELEASE_MAJOR}.${RELEASE_MINOR}-${IMAGE_TAG}"
              "v${RELEASE_MAJOR}.${RELEASE_MINOR}.${RELEASE_PATCH:0:1}-${IMAGE_TAG}"
              "${RELEASE_VERSION}"
            )
          fi

          docker push $DH_USERNAME/$IMAGE_NAME:$IMAGE_TAG

          for tag in "${TAGS[@]}"; do
            docker tag $DH_USERNAME/$IMAGE_NAME:$IMAGE_TAG $DH_USERNAME/$IMAGE_NAME:$tag
            docker push $DH_USERNAME/$IMAGE_NAME:$tag
          done

      - name: Build and push Chatbot Demo Docker image
        run: |
          docker build -f ./examples/chatbot/Dockerfile -t $DH_USERNAME/$DEMO_CHATBOT_IMAGE_NAME:$IMAGE_TAG .
          docker tag $DH_USERNAME/$DEMO_CHATBOT_IMAGE_NAME:$IMAGE_TAG $DH_USERNAME/$DEMO_CHATBOT_IMAGE_NAME:$RELEASE_VERSION
          docker push $DH_USERNAME/$DEMO_CHATBOT_IMAGE_NAME:$IMAGE_TAG
          docker push $DH_USERNAME/$DEMO_CHATBOT_IMAGE_NAME:$RELEASE_VERSION

  helm:
    needs: [resolve-version, docker]
    if: needs.resolve-version.outputs.new-release-published == 'true'
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Run publish-helm action
        id: publish-helm
        uses: 2060-io/devops/actions/publish-helm@main
        with:
          dh-username: ${{ secrets.DOCKER_HUB_LOGIN }}
          dh-token: ${{ secrets.DOCKER_HUB_PWD }}
          release-version: ${{ needs.resolve-version.outputs.release-version }}
          dependent-charts: "./charts/chatbot"

  npm-publish:
    needs: [resolve-version, docker, helm]
    if: needs.resolve-version.outputs.new-release-published == 'true'
    runs-on: ubuntu-latest
    env:
      RELEASE_VERSION: ${{ needs.resolve-version.outputs.release-version }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      # Pnpm version has been pinned in package.json
      - name: Setup node v22
        uses: actions/setup-node@v4
        with:
          node-version: 22
          registry-url: 'https://registry.npmjs.org'

      - name: Corepack pnpm
        run: |
          corepack enable
          
      - name: Install dependencies
        run: |
          pnpm install
          pnpm build

      - name: Set version for apps and packages
        run: |
          pnpm -r --topological version "$RELEASE_VERSION"

      # --no-git-checks is used due to topological version updating.
      - name: Publish NPM packages
        run: |
          pnpm -r publish --no-git-checks --access public


